body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-image: url('./src/assets/bg-3.png'); 
  background-color: black;
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* login/signup background */
.tab-content {
  border-radius: 100px;
  border-color: gold;
  border-width: 10px;
  background-image: url('../src/assets/skeleton.png');
  background-size:contain;
  background-position: center;
  background-color: black;
  background-repeat:no-repeat;
}

.tab-header {
  position: absolute;
  z-index: 0;
}

.login-form {
  position: relative;
  z-index: 1;
}

.form{
  position: inherit;
  transform: translate(50%);
}

.App-Header {
  background-color: transparent;
  position: relative;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  position: relative;
}

.pirate-text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 20px;
  transform: translate(5%);
}

.action-button {
  margin: 10px;
  padding: 10px, 20px;
  font-size: 16px;
}

#enterBTN{
  /* margin: 10px;
  padding: 10px, 20px; */
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  background: linear-gradient(0.5turn, #09A3CF, #056E8B, #113253);
  border-radius: 30px ;
  width: 300px;
  transform: translate(30%);
}

.map-container {
  text-align: center;
  padding: 20px; 
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.App-logo {
  display: flex;
  height: 500px;
  width: 500px;
}

.action-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

/* styles.css */
.landing-page-container {
  background-image: url(''); 
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.saved-shipwrecks-container {
  background-image: url(../src/assets/bg-2.png);
}

.bookBTN{
  font-size: 16px;
  cursor: pointer;
  bottom: 20px;
  background: linear-gradient(0.5turn, #929191,#cfcf09);
  border-radius: 30px ;
  width: 300px;
  color: white;
  font-weight: bold;
}

.gold-text {
  color: gold !important;
}

iframe {
  max-width: 100%; /* Ensure the iframe doesn't overflow its container */
}
@media screen and (min-width: 768px) {
  /* Base screens */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablets in landscape mode */
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  /* Tablets in portrait mode */
}
@media screen and (max-width: 767px) {
  /* Smartphones */
}
@media screen and (min-width: 1200px) {
  /* Large desktop screens */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  /* High-resolution displays */
}
@media (color-gamut: srgb) {
  /* Screens with an sRGB color gamut */
}