body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.map-container {
  text-align: center; /* Center the content within the container */
  padding: 20px; /* Add padding around the map */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

iframe {
  max-width: 100%; /* Ensure the iframe doesn't overflow its container */
}
@media screen and (min-width: 768px) {
  /* Base screens */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablets in landscape mode */
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  /* Tablets in portrait mode */
}
@media screen and (max-width: 767px) {
  /* Smartphones */
}
@media screen and (min-width: 1200px) {
  /* Large desktop screens */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  /* High-resolution displays */
}
@media (color-gamut: srgb) {
  /* Screens with an sRGB color gamut */
}
