/* body {
  font-family: "Rubik", sans-serif;
  background-image: url("./src/assets/bg-1.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
} */

/* .saved-shipwreck-container {
      background-image: url(../src/assets/bg-2.png);
    }
     */
